<!DOCTYPE html>
<html lang="en">
<head>
    <title>MANPAHUI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
    
    <header>
        <img class="logos" src="{{ url_for('static', filename='images/originalogo.png') }}" alt="logo">
        <div id="menu">
        
            <ul>
                <li><p>Fundación Mahuampi venezuela</p>
                <p>Migrantes Venezolanos / Colombianos Retorna</p></li>
                <li id="size"><a href="">Inicio</a></li>
                <li id="size"><a href="">Quienes somos</a></li>
                <li id="size"><a href="">Programas</a></li>
                <li id="size"><a href="">Noticias</a></li>
                <li id="size"><a href="">Conocenos</a></li>
                <li id="size"><a href="">Contacto</a></li>
                
            </ul>
        </div>
    </header>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{{ url_for('static', filename='images/originalogo.png') }}" alt="IMG">
                </div>

                <form id="formLogin" class="login100-form validate-form">
                    <span class="login100-form-title">
                        INICIO DE SESIÓN 
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="El usuario es requerido">
                        <input class="input100" type="text" id="user" name="user" placeholder="Usuario">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "La contraseña es requerida">
                        <input class="input100" type="password" id="pass" name="pass" placeholder="Contraseña">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Ingresar
                        </button>
                    </div>

                    <div id="mensaje" class="text-center p-t-12" style="color: red; display: none;">
                        <label id="lblMensaje"></label>
                    </div>

                    <div class="text-center p-t-136"></div>
                </form>
            </div>
        </div>
    </div>
    
    

    
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }} "></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js') }}"></script>
    <script >
        $('.js-tilt').tilt({
            scale: 1.1
        });
    </script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>

